<header class="font-poppins">
    <nav class="w-full h-20 flex justify-center items-center">
        <input type="checkbox" id="burger" class="peer/burg hidden">
        <label for="burger" class="absolute top-0 left-0 w-20 h-20 flex peer-checked/burg:hidden justify-center items-center "><span class="material-symbols-outlined">menu</span></label>
        <label for="burger" class="absolute top-0 left-0 w-20 h-20 hidden peer-checked/burg:flex justify-center items-center "><span class="material-symbols-outlined">menu_open</span></label>        
        <div class="">
            <a href=""><h1 class="font-prism text-6xl text-primary hover:text-7xl duration-300 delay-150">bshop</h1></a>
        </div>
        <div class="hidden absolute top-20 w-full peer-checked/burg:block ">
            <ul class="flex flex-col items-center justify-center ">
                <a href=""><li class="leading-10 text-xl mt-3 hover:text-secondary md:leading-normal ">WYPRZEDAŻ</li></a>
                <a href=""><li class="leading-10 text-xl mt-3 hover:text-secondary md:leading-normal ">PRODUKTY</li></a>
                <a href=""><li class="leading-10 text-xl mt-3 hover:text-secondary md:leading-normal ">DOSTAWA I PŁATNOŚCI</li></a>
            </ul>
            <div class="w-full flex justify-evenly mt-6 md:justify-center">
                <a href=""><button class="w-32 h-10 bg-primary text-tertiary rounded-xl hover:scale-105 duration-150 delay-75 ">ZALOGUJ SIĘ</button></a>
                <a href=""><button class="w-40 h-10 bg-tertiary border-2 border-solid rounded-xl hover:scale-105 duration-150 delay-75">REJESTRACJA</button></a>
                
            </div>
        </div>
    </nav>
</header>